@font-face {
	font-family: 'GloriaHallelujah-Regular';
	src: url('../fonts/GloriaHallelujah-Regular.ttf');
}
@font-face {
	font-family: 'OpenSans-Regular';
	src: url('../fonts/OpenSans-Regular.ttf');
}
