.footer {
	background: linear-gradient(
		54deg,
		rgba(247, 146, 208, 1) 0%,
		rgba(165, 151, 189, 1) 22%,
		rgba(165, 151, 189, 1) 25%,
		rgba(36, 158, 160, 1) 100%

	);
	.pt-4 {
		background:#9adee9;
		color: white;
		margin-bottom: 0;
	  }
	  .link-secondary {
		color: white;
	  }
	  a {
		color: #053352;
	  }
	  .h5 {
		font-weight: bold;
		color:#053352
	  } 
}


  
  
  
  
  
  

  
  
  
  
  
  