.navbar {
	width: 100%;
	overflow-x: hidden;

	&__title {
		&__name {
			font-family: 'GloriaHallelujah-Regular';
			font-size: 2em;
		}
	}

	&__toggler {
		margin: auto;
	}

	&__links {
		// border: 1px solid black;
		display: flex;
		flex-direction: row;
		&__ulist {
			width: 100%;
			justify-content: space-evenly;
			// border: 1px solid black;
			&__context {
				// border: 1px solid black;

				// padding: 5%;
				&__link {
					// margin-right: 10%;
					// border: 1px solid black;
				}
			}
		}
		// margin: 2%;
	}
}
