$wb_green: #179659;
$wb_light_green: #5fe6a5;
$wb_lightest_green: #9ff0c9;
$wb_dark_green: #0d5834;
$wb_purp: #a824db;

$update-btn: #7db78b;
$update-btn-hover: #a9c6bb;

$delete-btn: #efa599;
$delete-btn-hover: #df4b32;

$max-width-mobile: 480px;
$min-width-tablet: 481px;
$max-width-tablet: 768px;
$min-width-desktop: 769px;
$max-width-desktop: 1024px;
