.wishlist-inputs {
	input {
		// match the button height
		height: 40px;
	}
}

.wishlist-notification {
	margin-top: 1em;
}

.wishlist {
	&__return {
		font-size: 18px;
		margin: 3% auto;
		width: 23%;
		text-decoration: none;
		&:hover {
			color: white;
			text-decoration: none;
			background-color: $wb_light_green;
		}
	}

	&__heading {
		display: grid;
		grid-template-columns: 60% 40%;
		width: 100%;
		margin: auto;
		font-size: 0.8em;
		@media screen and (min-width: 375px) {
			width: 92%;
		}
		@media screen and (min-width: $min-width-tablet) {
			width: 90%;
			font-size: 1.2em;
		}
		&__span {
			font-weight: bold;
		}

		&__info1 {
			text-align: left;
		}
		&__info2 {
			text-align: right;
		}
	}
}
