#createInputs {
	margin-bottom: 4%;
}

.wishlistContainer {
	// background-color: red;
	// margin-top: 10%;
	// border: none;

	.wishlistcard {
		margin: auto;
		// background-color: red;
		&__card {
			margin-bottom: 5%;
			border: none;
			// background-color: red;
			height: 200px;
			// box-shadow: 10px 10px grey;
		}
	}
}

.wishlistCardComponent {
	width: 100%;
	height: 100%;
}

// .card {
// 	box-shadow: 10px 10px grey;
// }

.card-body {
	// padding: 0;
	margin: auto;
	height: 95%;
	width: 95%;
	padding: 0;
	box-shadow: 10px 10px 10px grey;
	&:hover {
		// transform: scaleX(1.2);
		border: 5px solid $wb_light_green;
		outline-style: solid;
		outline-color: $wb_light_green;
	}

	// -webkit-transition: all 200ms ease-out;
	// -moz-transition: all 200ms ease-out;
	// -o-transition: all 200ms ease-out;
	// transition: all 200ms ease-out;
}

.wishlists {
	padding: 0;

	&__card {
		margin: auto;
		height: 100%;
		width: 100%;

		margin: auto;
		display: flex;
		flex-direction: column;

		color: black;
		#titleInput {
			width: 80%;
		}

		&__title {
			overflow: hidden;
			background-color: $wb_green;
			&__button {
				background-color: $wb_green;
				color: white;
				font-size: 32px;
				border: none;
				width: 100%;
				&:hover {
					background-color: $wb_light_green;
				}
			}
		}
		&__titleInput {
			width: 80%;
			margin: auto;
			text-align: center;
		}
		&__password {
			width: 80%;
			margin: auto;
			text-align: center;
			cursor: default;
		}
		&__dueDate {
			width: 80%;
			margin: auto;
			text-align: center;
			cursor: default;
		}
		&__actions {
			&__update {
				width: 100%;
				border-radius: 0;

				#showUpdate {
					width: 100%;
					border: none;
					padding: 1.5%;
					&:hover {
						background-color: $update-btn-hover;
					}
				}
				#confirmUpdate {
					color: white;
					background-color: $wb_green;
					width: 33.3%;
					border: none;
					padding: 1.5%;
					&:hover {
						background-color: $wb_light_green;
					}
				}
				#cancelUpdate {
					width: 66.7%;
					border: none;
					padding: 1.5%;
					&:hover {
						background-color: $update-btn-hover;
					}
				}
			}
			&__delete {
				border: none;
				border-radius: 0;
				width: 100%;
				background-color: $delete-btn;
				color: darkred;
				padding: 1.5%;
				&:hover {
					color: pink;
					background-color: $delete-btn-hover;
				}
			}
		}
	}
}
